.movie-title {
  font-size: large;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
}

.backtext {
  margin-left: 5px;
  font-size: 20px;
  text-align: center;
  color: blue;
}

@media only screen and (max-width: 200px) {
  nav .brand-logo {
    left: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
